
.blue {
  background-color: #88c9f9;
}

.text-blue {
  color: #88c9f9;
}

.text-blue-med {
  color: #0099cc;
}

a.text-blue-med:hover {
  color: white;
  background-color: #0099cc;

}

.text-blue-med-no-hov {
  color: #0099cc;
}

.transparent-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

.text-border {
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}
